@import '../utils/variables';
@import '../utils/mixin';

.actions-section {
  background-color: #dce8f2;
  padding: 0 30px 100px;

  @media screen and (max-width: $mw-mobil-d) {
    padding: 0 30px 0;
  }

  &__title {
    padding-top: 119px;
    padding-bottom: 44px;
    color: $primary-darker-color;

    @media screen and (max-width: $mw-desctop-d) {
      @include text-style($fs-d-h3, 1.57, $primary-darker-color);
    }

    @media screen and (max-width: $mw-tablet-d) {
      @include text-style($fs-d-h3, 1.57, $primary-darker-color);
      text-align: center;
    }

    @media screen and (max-width: $mw-mobil-d) {
      padding-top: 29px;
      padding-bottom: 108px;
      @include text-style($fs-m-h3, 1.15, $primary-darker-color);
      text-align: center;
    }

    &--list {
      padding-left: 103px;
      padding-bottom: 28px;
      @include text-style($fs-d-h4, 1.57, $primary-darker-color);

      @media screen and (max-width: $mw-tablet-d) {
        padding-left: 40px;
        @include text-style($fs-d-h4, 1.08, $primary-darker-color);
      }

      @media screen and (max-width: $mw-mobil-d) {
        padding-left: 0;
        padding-bottom: 5px;
        @include text-style($fs-m-h2, 1.5, $primary-darker-color);
      }
    }
  }
  &__wrapper-list {
    max-width: 1142px;
    margin: 0 auto;
    list-style: none;
    counter-reset: list-counter;
  }

  &__wrapper-list li {
    position: relative;
    padding-left: 29px;
    @media screen and (max-width: $mw-mobil-d) {
      padding-left: 0;
      text-align: center;
      padding-bottom: 80px;
    }
  }

  &__wrapper-list li::before {
    content: counter(list-counter);
    counter-increment: list-counter;
    position: absolute;
    left: 0;
    top: -13px;
    padding-top: 12px;
    width: 59px;
    height: 59px;
    background-color: $accent-color;
    @include text-style($fs-d-h4, 1.46, $primary-lighter-color);
    font-weight: 500;
    text-align: center;
    border-radius: 50%;

    @media screen and (max-width: $mw-mobil-d) {
      top: -72px;
      left: 40%;
      padding-top: 10px;
      width: 56px;
      height: 56px;
    }
  }

  &__text {
    padding: 0 0 80px 103px;
    @include text-style($fs-m-h2, 1.57, $secondary-darker-color);

    @media screen and (max-width: $mw-tablet-d) {
      padding: 0 0 50px 40px;
      @include text-style($fs-p, 1.57, $secondary-darker-color);
    }

    @media screen and (max-width: $mw-mobil-d) {
      padding: 0 0 5px 0;
      @include text-style($fs-m-p, 1.5, $secondary-darker-color);
    }

    &--last {
      padding: 0 0 16px 103px;
      @include text-style($fs-m-h2, 1.57, $secondary-darker-color);

      @media screen and (max-width: $mw-tablet-d) {
        padding: 0 0 18px 40px;
        @include text-style($fs-p, 1.57, $secondary-darker-color);
      }

      @media screen and (max-width: $mw-mobil-d) {
        padding: 0;
        @include text-style($fs-m-p, 1.57, $secondary-darker-color);
      }
    }
  }

  &__container {
    display: flex;

    @media screen and (max-width: $mw-tablet-d) {
      flex-direction: column;
    }

    &--title {
      padding-left: 46px;
      padding-bottom: 12px;
      @include text-style($fs-d-h4, 1.57, $primary-darker-color);

      @media screen and (max-width: $mw-tablet-d) {
        padding-left: 40px;
      }

      @media screen and (max-width: $mw-mobil-d) {
        padding-left: 0;
        padding-bottom: 5px;
        @include text-style($fs-m-h2, 1.57, $primary-darker-color);
      }
    }

    &--text {
      display: inline-block;
      padding-left: 46px;
      @include text-style($fs-t-h2, 1.57, $secondary-darker-color);

      @media screen and (max-width: $mw-tablet-d) {
        width: 100%;
        padding-left: 40px;
        padding-bottom: 45px;
        @include text-style($fs-p, 1.57, $secondary-darker-color);
      }

      @media screen and (max-width: $mw-mobil-d) {
        display: block;
        padding-left: 0;
        padding-bottom: 0;
        @include text-style($fs-m-p, 1.5, $secondary-darker-color);
      }
    }
  }

  &__container img {
    height: 166px;
    margin-left: 103px;
    margin-bottom: 95px;
    border-radius: 8px;

    @media screen and (max-width: $mw-tablet-d) {
      width: 205px;
      height: 136px;
      margin-left: 40px;
      margin-bottom: 45px;
    }

    @media screen and (max-width: $mw-mobil-d) {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-bottom: 40px;
    }
  }

  &__button {
    margin: 0 0 0 104px;

    @media screen and (max-width: $mw-tablet-d) {
      margin: 0 0 0 40px;
    }

    @media screen and (max-width: $mw-mobil-d) {
      margin: 0 auto;
    }
  }
}

.before-line {
  border-left: 3px solid #c0c4cd;

  @media screen and (max-width: $mw-mobil-d) {
    border-left: none;
  }
}
