@import '../utils/variables';
@import '../utils/mixin';

.secrets-section {
  background-image: url(../../assets/images/secrets_background.jpg);
  background-size: cover;
  background-position: top;

  @media screen and (max-width: $mw-mobil-d) {
    background-position: center -175px;
    background-size: 1800px;
  }

  &__title {
    display: flex;
    padding-top: 127px;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
    @include text-style($fs-d-h2, 1.5, $primary-darker-color);

    @media screen and (max-width: $mw-tablet-d) {
      text-align: center;
      padding: 88px auto 0 auto;
      @include text-style($fs-d-h3, 1.08, $primary-darker-color);
    }

    @media screen and (max-width: $mw-mobil-d) {
      padding-top: 48px;
      text-align: center;
    }
  }

  &__statistics {
    margin-top: 858px;
    background-color: rgba(2, 12, 33, 0.9);

    @media screen and (max-width: $mw-mobil-d) {
      margin-top: 695px;
    }

    &__title {
      display: flex;
      justify-content: center;
    }

    &--title h3 {
      display: flex;
      justify-content: center;
      padding-top: 202px;
      margin: 0 30px;
      text-align: center;
      @include text-style($fs-d-h2, 1.5, $primary-lighter-color);

      @media screen and (max-width: $mw-tablet-d) {
        padding-top: 142px;
        @include text-style($fs-m-h1, 1.08, $primary-lighter-color);
      }

      @media screen and (max-width: $mw-mobil-d) {
        padding-top: 52px;
      }
    }
    &--title p {
      margin: 38px auto 0;
      text-align: center;
      max-width: 484px;
      color: $secondary-lighter-color;

      @media screen and (max-width: $mw-tablet-d) {
        margin: 28px auto 0;
        padding: 0 30px;
        @include text-style($fs-m-p, 1.5, $secondary-lighter-color);
      }
    }

    &--wrapper {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: $mw-tablet-d) {
        padding-bottom: 70px;
        flex-direction: column;
        align-items: center;
      }
    }

    &--accent {
      max-width: 380px;
      margin: 0 30px;
    }

    &--accent h4 {
      margin: 29px auto 0 auto;
      text-align: center;

      @media screen and (max-width: $mw-tablet-d) {
        margin-top: 29px;
        @include text-style($fs-t-h3, 1.5, $accent-color);
      }
    }

    &--accent p {
      margin: 18px auto 224px auto;
      text-align: center;

      @media screen and (max-width: $mw-tablet-d) {
        margin: 0 auto 0 auto;
        padding: 0 30px;
      }
    }
  }
}
