@import '../utils/variables';
@import '../utils/mixin';
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans';
  width: 100%;
  max-width: 1920px;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29)),
    url(../../assets/images/backround_header.jpg);
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: 1920px;
  background-attachment: fixed;

  @media screen and (max-width: $mw-desctop-d) {
    background-size: 1920px;
  }

  @media screen and (max-width: $mw-tablet-d) {
    background-size: 2420px;
  }
}

h1 {
  font-family: 'roboto';
  @include text-style($fs-d-h1, 1.08, $primary-lighter-color);
  text-transform: uppercase;

  @media screen and (max-width: $mw-desctop-d) {
    @include text-style($fs-t-h1, 1.08, $primary-lighter-color);
  }

  @media screen and (max-width: $mw-tablet-d) {
    @include text-style($fs-t-h1, 1.08, $primary-lighter-color);
  }

  @media screen and (max-width: $mw-mobil-d) {
    @include text-style($fs-m-h1, 1.08, $primary-lighter-color);
  }
}

h2 {
  @include text-style($fs-d-h2, 2.5, $primary-lighter-color);

  @media screen and (max-width: $mw-desctop-d) {
    @include text-style($fs-t-h2, 1.08, $primary-lighter-color);
  }
}

h3 {
  @include text-style($fs-d-h3, 1.19, $primary-lighter-color);

  @media screen and (max-width: $mw-desctop-d) {
    @include text-style($fs-t-h3, 1.08, $primary-lighter-color);
  }

  @media screen and (max-width: $mw-tablet-d) {
    @include text-style($fs-m-h3, 1.08, $primary-lighter-color);
  }
}

h4 {
  @include text-style($fs-m-h3, 1.16, $accent-color);
}

a {
  @include text-style($fs-p, 1.55, $primary-lighter-color);

  @media screen and (max-width: $mw-desctop-d) {
    @include text-style($fs-d-p, 1, $primary-lighter-color);
  }
}

p {
  @include text-style($fs-p, 1.55, $secondary-darker-color);

  @media screen and (max-width: $mw-desctop-d) {
    @include text-style($fs-d-p, 1.24, $secondary-darker-color);
  }
}
