@import '../utils/variables';
@import '../utils/mixin';

.button {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 18px 56px;
  border-radius: 211px;
  background-color: $accent-color;
  @include text-style($fs-m-h2, 1.5, rgba(255, 255, 255, 0.8));
  transition: transform 0.2s ease-in-out;

  @media screen and (max-width: $mw-desctop-d) {
    padding: 16px 38px;
    @include text-style($fs-t-h2, 1.5, rgba(255, 255, 255, 0.8));
  }

  @media screen and (max-width: $mw-tablet-d) {
    padding: 14px 36px;
    @include text-style($fs-t-h2, 1.5, rgba(255, 255, 255, 0.8));
  }

  @media screen and (max-width: $mw-mobil-d) {
    width: 260px;
    padding: 12px 34px;
    @include text-style($fs-p, 1.5, rgba(255, 255, 255, 0.8));
  }
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}
