//змінні кольорів
$primary-lighter-color: #ffffff;
$primary-darker-color: #010a20;
$primary-transparency-color: #ffffffcc;
$secondary-darker-color: #6f7787;
$secondary-lighter-color: #e0e0e0;
$secondary-transparency-color: #15143966;
$accent-color: #dd2242;
$accent-darker-color: #000000;

//змінні висоти тексту
$fs-p: 18px;

//змінні висоти тексту десктоп
$fs-d-h1: 120px;
$fs-d-h2: 60px;
$fs-d-h3: 42px;
$fs-d-h4: 26px;
$fs-d-p: 16px;

//змінні висоти тексту на планшет
$fs-t-h1: 58px;
$fs-t-h2: 20px;
$fs-t-h3: 32px;
$fs-d-p: 16px;

// змінні висоти тексту на мобілку
$fs-m-h1: 40px;
$fs-m-h2: 22px;
$fs-m-h3: 40px;
$fs-m-p: 16px;

$mw-desctop-d: 1280px;
$mw-tablet-d: 768px;
$mw-mobil-d: 360px;
